* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.fancy-button {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(45deg, yellow, red);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    animation: jump 0.5s 0.4s, spin 0.5s, hide 1s 2s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
    0% {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    0% {
        transform: translateY(0);
    }
}

@keyframes hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2000px);
    }
}