* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
}

.fa-battery-full {
    font-size: 16px;
}

.fa-battery-three-quarters {
    font-size: 32px;
}

.fa-battery-half {
    font-size: 64px;
}

.fa-battery-quarter {
    font-size: 128px;
}

.fa-battery-empty {
    font-size: 256px;
}

.fa-battery-empty::before:nth-child(2) {
    visibility: hidden;
}