body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-battery-full {
    font-size: 16px;
    margin-top: 0;
}

.fa-battery-three-quarters {
    font-size: 32px;
}

.fa-battery-half {
    font-size: 64px;
}

.fa-battery-quarter {
    font-size: 128px;
}

.fa-battery-empty {
    font-size: 256px;
}

.fa-battery-empty::before:nth-child(2) {
    visibility: hidden;
}

div.fa-battery-empty::before {
    display: none;
}

div.fa-battery-quarter::before {
    display: none;
}

div.fa-battery-half::before {
    display: none;
}

div.fa-battery-three-quarters::before {
    display: none;
}

div.fa-battery-full::before {
    display: none;
}