    * {
        box-sizing: border-box;
    }
    
    div {
        display: flex;
    }
    
    .image {
        display: block;
        height: 200px;
        width: 200px;
    }
    
    .image:nth-child(1) {
        background-size: 13rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .image:nth-child(2) {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .image:nth-child(3) {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }