* {
    box-sizing: border-box;
}

.image-container {
    margin: 50px;
    align-items: center;
}

.gallery {
    display: flex;
}

.card {
    box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
    margin: 16px;
}

.main-picture {
    display: block;
    max-width: 100%;
    border-radius: 20px;
    margin: auto;
}

.opacity {
    filter: opacity(50%);
}

.caption {
    text-align: center;
    line-height: 30px;
}

.blur {
    filter: blur(4px);
}

.invert {
    filter: invert(100%);
}