* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
    outline: none;
    border: none;
}

button {
    visibility: hidden;
    font-size: 2em;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #eee;
}

.nav-list-item {
    visibility: hidden;
}

.nav-list-link {
    visibility: hidden;
}

@media screen and (max-width:599px) {
    button {
        visibility: visible;
        font-size: 2em;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #eee;
    }
}

@media screen and (min-width:600px) {
    .nav-list {
        visibility: visible;
        list-style-type: none;
        padding: 0;
        width: 20%;
        padding: 0.5em;
    }
    .nav-list-item {
        visibility: visible;
        background-color: #808080;
        margin-bottom: 0.5em;
        height: 2em;
        padding: 0.5em;
        color: white;
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;
    }
    .nav-list-link {
        visibility: visible;
        text-decoration: none;
        color: white;
    }
}