* {
    box-sizing: border-box;
}

body {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
}

.articles-list {
    display: flex;
    flex-shrink: 0;
}