    * {
        box-sizing: border-box;
    }
    
    * p {
        margin: 0px;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .article {
        display: flex;
        flex-direction: column;
        background-color: bisque;
        margin: 8px;
        padding: 16px;
        min-width: 300px;
    }
    
    .articles-list {
        display: flex;
        flex-direction: row;
    }