* {
    box-sizing: border-box;
}

.content {
    display: flex;
    height: 100vh;
}

.gallery {
    display: flex;
    width: 80%;
    background-color: #fa5;
}

.ideas {
    display: flex;
    width: 20%;
    background-color: #5af;
}

.image {
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 3px 5px 0px;
}

.idea {
    margin: auto;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}