* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.articles * {
    width: 150px;
    height: 100px;
    background-color: beige;
    margin: 16px;
}

.visible-text {
    overflow: visible;
    float: left;
}

.cropped {
    overflow: hidden;
    float: left;
}

.both-scrolls {
    overflow: scroll;
    float: left;
}

.vertical-scroll {
    overflow-y: scroll;
    float: left;
}

.both-scrolls,
.vertical-scroll {
    cursor: all-scroll;
}