* {
    box-sizing: border-box;
}

input[type="checkbox"] {
    visibility: hidden;
}

.checkmark {
    width: 25px;
    height: 25px;
    background-color: #d3d3d3;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    margin: 12px;
}

.checkbox input:checked+.checkmark {
    background-color: #006400;
}