* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    margin: auto;
    background-color: #faebd7;
    border-radius: 4px;
    padding: 8px;
    text-transform: lowercase;
}

.navigation {
    display: flex;
    background-color: #ff7f50;
    min-height: 200px;
    flex: 1;
    width: 100%;
}

.products-list {
    display: flex;
    min-height: 200px;
    background-color: #006400;
    flex: 1;
    width: 100%;
}

.news {
    display: flex;
    min-height: 200px;
    background-color: #0ff;
    flex: 1;
    width: 100%;
}

@media screen and (min-width:600px) {
    .vision {
        display: flex;
        flex: 2;
    }
}

@media screen and (min-width:1200px) {
    .content {
        display: flex;
        flex: 3;
    }
}