* {
    box-sizing: content-box;
}

.image-container {
    position: relative;
    text-align: center;
}

.image {
    max-width: 100%;
}

.image-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    cursor: pointer;
    line-height: 50px;
}

.image-button:hover {
    opacity: 1;
}