* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.spinner {
    margin: auto;
}

.circle {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid lightgrey;
    border-top: 4px solid black;
    margin-bottom: 8px;
    animation: spin 2s infinite ease;
}

.spinner-text {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 16px;
    animation: blinking 2s infinite ease;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}